<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<servlet>
		<servlet-name>RTMovies</servlet-name>
		<servlet-class>com.rtmovies.RTMoviesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RTMovies</servlet-name>
		<url-pattern>/rtmovies</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
<!-- 	<context-param> -->
<!-- 		<param-name>com.sap.ui5.resource.USE_CACHE</param-name> -->
<!-- 		<param-value>true</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<param-name>com.sap.ui5.resource.VERBOSE</param-name> -->
<!-- 		<param-value>false</param-value> -->
<!-- 	</context-param> -->

	<!-- ============================================================== -->
	<!-- Cache Control Filter to prevent caching of any resource -->
	<!-- ============================================================== -->

	<!-- <filter> <display-name>CacheControlFilter</display-name> <filter-name>CacheControlFilter</filter-name> 
		<filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class> </filter> 
		<filter-mapping> <filter-name>CacheControlFilter</filter-name> <url-pattern>*.html</url-pattern> 
		</filter-mapping> <filter-mapping> <filter-name>CacheControlFilter</filter-name> 
		<url-pattern>*.js</url-pattern> </filter-mapping> <filter-mapping> <filter-name>CacheControlFilter</filter-name> 
		<url-pattern>*.css</url-pattern> </filter-mapping> -->


	<!-- ============================================================== -->
	<!-- Welcome file list -->
	<!-- ============================================================== -->

	<welcome-file-list>
		<welcome-file>ui5.jsp</welcome-file>
		<welcome-file>ui5.html</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>